<h4>Destination: <%= @parcel.destination %></h4>
<h4>Package weight: <%= @parcel.weight %></h4>
<h4>Package volume: <%= @parcel.volume %></h4>
<h5>Cost: $<%= @parcel.cost %></h5>
<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcel list</a>
